.myname{
    text-align: center;
}
.myrole{
    text-align: center;
}
html{
    background-color: #16161a;
}
button{
    background-color: #7f5af0;
    color: #fffffe;
}
.contact-p{
    color: #94a1b2;
}
.header-contact{
    background-color: #16161a;
    color: #fffffe;
}
.navbar, .navbar-expand-lg, .bg-light{
    background-color: #16161a;
}
form{
    background-color: #16161a;
}